* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Fira-texto;
    src: url('../Fira_Sans_Condensed/FiraSansCondensed-Regular.ttf');
}
@font-face {
    font-family: Fira-texto2;
    src: url('../Fira_Sans_Condensed/FiraSansCondensed-Light.ttf');
}
@font-face {
    font-family: Mesiri-botones;
    src: url('../El_Messiri/static/ElMessiri-Medium.ttf');
}
@font-face {
    font-family: Vidaloka-subtexto;
    src: url('../Vidaloka/Vidaloka-Regular.ttf');
}

body {
    background: linear-gradient(#ffffff, #f7f6f6);
}

/*  MEDIDAS DEL LOGO  */
.logo {
    margin-left: 0;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.logo img {
    width: 18rem;
}

/* FIN DE MEDIDAS DEL LOGO*/

/* ZONA DEL MENU  */
.zona-navegable {
    background: linear-gradient(#1c1b1b, #434344);
    padding: .3rem 0;
    border: .3em solid rgba(55, 52, 52, 0.953);
    border-left: none;
    border-right: none;
    border-top: none;
    font-family: Fira-texto2;
    font-size: large;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-top: -1rem;
    position: sticky;
    color:#737373;
    line-height:24px;
    box-shadow: -1px 1px 67px 11px rgba(0,0,0,0.53);
    -webkit-box-shadow: -1px 1px 67px 11px rgba(0,0,0,0.53);
    -moz-box-shadow: -1px 1px 67px 11px rgba(0,0,0,0.53);
}

/* FIN DE ZONA DEL MENU*/

/* BOTONES DEL MENU*/
.subheader {
    width: 60rem;
    margin-right: 1rem;
    list-style: none;
    display: inline;
    text-align: center;
    text-decoration: none;
}
/*FIN DE BOTONES DEL MENU*/

/* FUENTES DE LOS BOTONES MENU*/
.menu {
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-around;
    color: black;
    text-decoration: none;
    font-family: Mesiri-botones;
    text-shadow: 6px 1px 7px rgba(0,0,0,0.39);
    font-size: 130%;
    
}
/* FIN DE LAS FUENTES DE LOS BOTONES MENU*/

/* FUENTES DE LINKS*/
a:link {
    color: rgb(220, 220, 220);
}

a:visited {
    color: rgb(197, 192, 192);
}

a:active {
    color: rgb(96, 93, 93);
}

a {
    text-decoration: none;

}
/* FIN DE FUENTES DE LINKS*/

/* Espaciado entre el carrousel y las tres imagenes*/
.mi-contenedor{
    margin-top: -1rem;
    margin-bottom: 7rem;
}


/* COMIENZO DEL FOOTER*/
.contenedor {
    width: 100%;
    margin: auto;
}

.pie-pagina {
background-color:#26272b;
padding:30px 0 20px;
font-size:15px;
line-height:22px;
color:#737373;
box-shadow: -1px -29px 53px 0px rgba(0,0,0,0.36);
-webkit-box-shadow: -1px -29px 53px 0px rgba(0,0,0,0.36);
-moz-box-shadow: -1px -29px 53px 0px rgba(0,0,0,0.36);
}


.pie-pagina hr
{
border-top-color:#bbb;
opacity:0.5;
}
.pie-pagina hr.small
{
margin:20px 0;
}
.pie-pagina h6
{
color:rgb(255, 255, 255);
font-size:16px;
text-transform:uppercase;
margin-top:5px;
letter-spacing:2px;
}
.pie-pagina a
{
color:#737373;
}
.pie-pagina a:hover
{
color:#3366cc;
text-decoration:none;
}
.footer-links
{
padding-left:0%;
padding-right:20%;
width: 400px;
list-style:none;
}
.footer-links li
{
display:block;
}
.footer-links a
{
color:#737373;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
color:#3366cc;
text-decoration:none;
}

.col-6 {
    padding-left: 100px;
    width: 1500px;
    margin: auto;
    height: 250px;
    display:block;

}

.fila {
    display: flex;
    justify-content: center;
}

.mapa-ubicacion {
    padding-right: 10px;
}

/* FIN DEL FOOTER*/

/*                  GALERIA                  */

.grid-home {
    background-color: #eef0f3;
    font-family: sans-serif;
    font-size: 3rem;
}

.grid-container {
    background-color: #8d8a8a;
}

.grid-item1 {
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("../multimedia/galery1.jpg");
    border-radius: 4px;
    transition: 0.3 ease-in-out;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.grid-item2 {
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("../multimedia/galery2.jpg");
    border-radius: 4px;
    transition: 0.3 ease-in-out;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.grid-item3 {
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("../multimedia/galery3.jpg");
    border-radius: 4px;
    transition: 0.3 ease-in-out;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.grid-item4 {
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("../multimedia/galery4.jpg");
    border-radius: 4px;
    transition: 0.3 ease-in-out;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.grid-item5 {
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("../multimedia/galery5.jpg");
    border-radius: 4px;
    transition: 0.3 ease-in-out;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.grid-item6 {
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("../multimedia/galery6.jpg");
    border-radius: 4px;
    transition: 0.3 ease-in-out;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.grid-item7 {
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("../multimedia/galery7.jpg");
    border-radius: 4px;
    transition: 0.3 ease-in-out;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.grid-item8 {
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("../multimedia/galery8.jpg");
    border-radius: 4px;
    transition: 0.3 ease-in-out;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.grid-item9 {
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("../multimedia/galery9.jpg");
    border-radius: 4px;
    transition: 0.3 ease-in-out;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.grid-item10 {
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("../multimedia/galery10.jpg");
    border-radius: 4px;
    transition: 0.3 ease-in-out;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.grid-item11 {
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("../multimedia/galery11.jpg");
    border-radius: 4px;
    transition: 0.3 ease-in-out;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.grid-item12 {
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("../multimedia/galery12.jpg");
    border-radius: 4px;
    transition: 0.3 ease-in-out;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.grid-item13 {
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("../multimedia/galery13.jpg");
    border-radius: 4px;
    transition: 0.3 ease-in-out;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.grid-item:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
    padding-bottom: 3rem;
}

.wide {
    grid-column: span 2;
}

.tall {
    grid-row: span 2;
}

.text-galery {
    text-align: center;
    font-size: 2rem;
    font-family: Fira-texto;
    padding-top: 1rem;
    padding-bottom: 4rem;
    background-color: #eef0f3;
}
.galery-bar {
    width: 70px;
    margin: auto;
    background: rgb(112, 109, 109);
}

/*-----------------------------SOBRE NOSOTROS --------------------------- */

.nosotros-text {
    text-align: center;
    font-family: Fira-texto;
    font-size: 1.5rem;
    padding-bottom: 3rem;
    background-color: #b7b7c0;
    background: linear-gradient(#d7d7d7, #00000074);
    padding-top: 2rem;
}
.nosotros.text h2 {
    text-shadow: 0px 4px 14px rgba(0,0,0,0.6);
    
}

.nosotros-bar {
    width: 4em;
    margin: auto;
    background-color: #1c1b1b;
}

.seccion-nosotros {
    padding-top: 3rem;
    display: flex;
    justify-content:space-around;
    text-align: center;
}

.texto-nosotros {
    padding-top: 1rem;
    font-family: Fira-texto;
    font-size: 1.7em;
}

.nosotros-img {
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3rem;
    flex-wrap: wrap;

}

.nosotros-img-bar {
    width: 70px;
    margin: auto;
}

.nosotros-img figure img {
border-radius: .5rem;
}

/* Fin de Sobre nosotros*/

