.texto-dondeestamos {
    padding-top: 3rem;
    padding-bottom: 2rem;
    background-color: #E8E5E5;
    color: rgb(12, 11, 11);
}

.texto-dondeestamos h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 2px;
    font-family: 'Koulen', cursive;
    color: #344055;
}
.barra-dondeestamos {
    width: 3rem;
    margin: auto;
    background-color: rgb(253, 35, 35)
}

