.gallery {
	display: flex;
	padding: 2px;
	transition: .3s;
    padding-top: 1rem;
    margin: 0 auto;
    width: 1600px;
    max-width: 100%;
    min-height: 200px;
	
	&:hover &__image {
		filter: grayscale(1);
	}
	
	&__column {
		display: flex;
		flex-direction: column;
		width: 25%;
	}
	
	&__link {
		margin: 2px;
		overflow: hidden;
		
		&:hover {
			.gallery__image {
				filter: grayscale(0);
			}
			
			.gallery__caption {
				opacity: 1;
			}
		}
	}
	
	&__thumb {
		position: relative;
	}
	
	&__image {
		display: block;
		width: 100%;
		transition: .3s;
		
		&:hover {
			transform: scale(1.1);
		}
	}
	
	&__caption {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 25px 15px 15px;
		width: 100%;
		font-family: 'Raleway', sans-serif;
		font-size: 16px;
		color: white;
		opacity: 0;
		background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255 ,255 , 0) 100%);
		transition: .3s;
	}
}

.texto-galeria {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    color: rgb(12, 11, 11);
}

.texto-galeria h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    color: #344055;
    font-family: 'Koulen', cursive;
}
 
.barra-galeria {
    width: 2rem;
    margin: auto;
    background-color: rgb(255, 1, 1)
}
