
.servicios-general{
    background-color: #dadada;
    padding-bottom: 1px;
}
.servicios-texto-barra{
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    background: linear-gradient(#faf9f9, #e4e3e3);
    color: rgb(12, 11, 11);
}

.barra-servicios {
    width: 3rem;
    margin: auto;
    background-color: rgb(7, 7, 7)
}

.container-servicios{
    box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
    background: #eae7e7e6;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    margin: 5em auto;
    height: 21rem;
    width: 50%;
}



.product-details-servicios {
    position: relative;
    text-align: left;
    overflow: hidden;
    padding: 30px;
    height: 100%;
    float: left;
    width: 40%;
}


.container-servicios .product-details-servicios h1{
    font-family: 'Old Standard TT', serif;
    display: flex;
    justify-content: center;
    font-size:2rem;
    color: #344055;
}

.container-servicios .product-details-servicios > p {
    font-family: Fira-texto;
    text-align: center;
    font-size: 1rem;
    color: #7d7d7d;

}


.control-servicios{
    display: flex;
    justify-content: center;
}


.btn-servicios {
    background: #c57575;
    font-family: Fira-texto;
    border-radius: 5px;
    display: flex;
    justify-content:center;
    overflow: hidden;
    border: none;
    color: #ffffff;
}

.btn-servicios span {
    font-family: Fira-texto;
    display: inline-block;
    padding: 10px 20px;
}


.product-image-servicios {
    display: flex;
}

.container-servicios img {
    width: 100%;
    height: 100%;
}