
.quienes-somos {
    @extend %centrado;
    text-align: center;
    text-transform: uppercase;
    font-family: Fira-texto;
}

.quienes-somos h1 {
    font-size: 52px;
    font-weight: 600;
    letter-spacing: 4px;
}