%posicionamiento {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

%centrado {
    padding-top: 5rem;
    margin: 0 auto;
    width: 500px;
    max-width: 100%;
    min-height: 200px;
}